<!DOCTYPE html>
<html lang="en">
<body>    
    <div id="wrapper">
	    <!-- For Sensor List Table -->		
            <div class="row">
                <div class="col-lg-12">
                	<div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="sensortable">
                                    <thead>
                                        <tr>
					    <th>Select</th>
                                            <th>Location</th>
					    <th>Location Detail</th>
                                            <th>Type</th>                                            
                                        </tr>
                                    </thead>
                                    <tbody id="app-sensor-row" >     
					<!-- Sensor List Row -->                                   		
                                    </tbody>					
                                </table>
                	   </div>                                                                                                                                         		                       
                   </div>
                <!-- /.col-lg-12 -->               
            </div>
            <!-- /.row -->  

	    <!-- For Sensor Information -->
	   <div class="row">
                <div class="col-lg-12">			
                	<div id="app-sensor-info" class="panel-body"> 
				<!-- Sensor Information -->                                              
                   	</div>                                                                                                                                                             		                       
                   </div>
                <!-- /.col-lg-12 -->               
            </div>
            <!-- /.row -->  

   </div>     
</body>
</html>
